body{
    background-color:#ffe4f0;
    }
    h1,h2{
    color:#d63384;
    }
    /* Ajuste del carrusel */
    .carrusel-img{
    height:450px;
    object-fit:cover;
    border-radius:10px;
    }
    /* Botón Barbie */
    .btn-primary{
    background-color:#ff69b4;
    border:none;
    }
    .btn-primary:hover{
    background-color:#ff1493;
    }

