body {
    font-family: Arial;
    background-color: #fff5f8;
    text-align: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #d63384;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    font-size: 12px;
                    
}